<div>
  <br>
  <mat-card>
    
    <mat-card-title >There has been an error.</mat-card-title>
    
    <br><br>
    <mat-divider></mat-divider>
    <br>

    <mat-card-content>
      <h4> An error has occurred. </h4>
      <span><code>Error: {{ isError.message }} </code></span>
    </mat-card-content>

  </mat-card>
</div>


<!-- <p>custom-error works!</p> -->

