<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<div *ngIf="isError === null">
  <!-- <br> -->

  <!-- <mat-divider></mat-divider> -->

  <!-- <br> -->

  <mat-card>
    <mat-card-title>Register</mat-card-title>
    
    <mat-card-content>

      <form class="register-form" [formGroup]="registerForm" >
        
        <mat-form-field class="field-full-width" [ngClass]="{'error': registerForm.controls['email'].errors && !registerForm.controls['email'].pristine}">
          <label for="email">Email</label>
          <input type="email" matInput formControlName="email" placeholder="Email" required>

          <div *ngIf="registerForm.controls['email'].errors && !registerForm.controls['email'].pristine" class="error-msg">
            <div [hidden]="!registerForm.controls['email'].errors.required">Email is required.</div>

            <div [hidden]="!registerForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
          </div>

        </mat-form-field>

        <mat-form-field class="field-full-width" [ngClass]="{'error': registerForm.controls['password'].errors && !registerForm.controls['password'].pristine}">
          <label for="password">Password</label>
          <input type="password" matInput formControlName="password" placeholder="Password" required>

          <div *ngIf="registerForm.controls['password'].errors && !registerForm.controls['password'].pristine" class="error-msg">
            <div [hidden]="!registerForm.controls['password'].errors.required">Password is required.</div>
          </div>

        </mat-form-field>
        
      </form>
      <div class="error">
        {{ customErrorSkerdoodle }}
      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button
      type="submit" 
      (click)="registerUser( registerForm.value )" 
      [disabled]="registerForm.pristine || registerForm.invalid" 
      mat-raised-button 
      class="btn" 
      color="primary"
      >
      Register</button>
    </mat-card-actions>
  </mat-card>

</div>

<!-- <app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error> -->

<!-- <p>register works!</p> -->