<app-toolbar-multirow></app-toolbar-multirow>
<div>
  <router-outlet></router-outlet>
</div>
<app-custom-footer></app-custom-footer>

<!-- OldComponent -->
<!-- <h1>Bogus, dude!</h1> -->
<!-- <app-old></app-old> -->